################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TechAcademyInsurance/.vs
/EntityCodeFirst/.vs/EntityCodeFirst/v15
